@media (min-width: 820px) {

    .single {
        display: flex;
        margin-top: 40px;
    }

    .singlePostContainer {
        flex: 7.5;
    }

    .sidebarContainer {
        flex: 3;
    }

    .leftSpace {
        flex: 0.5;
    }

    .rightSpace {
        flex: 0.5;
    }

    .betweenSpace {
        flex: 0.5;
    }
}

@media (max-width: 820px) {

    .single {
        display: block;
    }

    .rightSpace {
        width: 0%;
    }

    .leftSpace {
        width: 0%;
    }

    .betweenSpace {
        width: 0%;;
    }

    .singlePostContainer {
        width: 100%;
    }

    .sidebarContainer {
        width: 100%;
    }
}

