@media (min-width: 700px) {

    .headerContainer {
        display: block;
        width: 100%;
    }

    .home {
        display: flex;
        justify-content: center;
    }

    .postsContainer {
        flex: 9;
    }

    .sidebarContainer {
        flex: 3;
    }
}

@media (max-width: 700px) {

    .home {
        display: block;
    }

    .postsContainer {
        width: 100%;
    }

    .sidebarContainer {
        width: 100%;
    }
}



