@media (min-width: 820px) {

    .headerContainer {
        display: block;
        width: 100%;
    }

    .home {
        display: flex;
        justify-content: center;
    }

    .postsContainer {
        flex: 7.5;
    }

    .sidebarContainer {
        flex: 3;
    }

    .leftSpace {
        flex: 0.5;
    }

    .rightSpace {
        flex: 0.5;
    }

    .betweenSpace {
        flex: 0.5;
    }
}

@media (max-width: 820px) {

    .headerContainer {
        display: block;
        width: 100%;
    }

    .home {
        display: block;
        width: 100%;
    }

    .postsContainer {
        width: 100%;
    }

    .sidebarContainer {
        width: 100%;
    }

    .leftSpace {
        letter-spacing: 0%;
    }

    .rightSpace {
        width: 0%;
    }

    .betweenSpace {
        width: 0%;
    }
}



