.sidebar {
    margin: 20px;
    padding-bottom: 20px;
    background-color: #fdfbfb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 800px) {
    .sidebar {
        flex: 12;
        margin: 20px;
        padding-bottom: 20px;
        background-color: #fdfbfb;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}



.sidebarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarTitle {
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}

.sidebarITem > img {
    margin-top: 15px;
}

.sidebarItem > p {
    padding: 20px;
}

.sidebarList {
    list-style: none;
    margin-bottom: 30px;
}

.sidebarListItem {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 15px;
    cursor: pointer;
}

.sidebarTagsItemSm {
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    color: green;
    margin-right: 4px;
}

.sidebarTagsItemMd {
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    color: green;
    margin-right: 4px;
}

.sidebarTagsItemLg {
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    color: green;
    margin-right: 4px;
}

.sidebarListItem:hover {
    color: red;
}

.sidebarSocial {
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarIcon {
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

.sidebarList {
    width: 80%;
}

.sidebarListRefItem {
    cursor: pointer;
    color: green;
    margin-top: 20px;
}